/* red-hat-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/red-hat-text-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-text-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/red-hat-text-v14-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-text-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/red-hat-text-v14-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-text-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/red-hat-text-v14-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-text-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/red-hat-text-v14-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-text-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/red-hat-text-v14-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-hat-text-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/red-hat-text-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* aleo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/aleo-v14-latin-regular.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


body {
  color: #FFF;
  font-family:'Red Hat Text';
  font-size: 16px;
  margin: 0px;
  max-width: 1440px;
}

/* Header start */

.header_logo-pic {
  max-width: 40px;
}

.nav_bg_color {
  background-color: #F2785CB2;
  box-shadow: 0px 4px 4px 0px rgba(13, 96, 111, 0.50);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header_logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header_logo-link {
  width: 30px;
  height: 30px;
}

.brand_name_text {
  font-family: 'Marga';
  margin-left: 6px;
  font-weight: 600;
  font-size: 32px;
  color: #FFF;
}

.wrapper_header {
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header_list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: space;
}

.header_items1 {
  margin-right: 42px;
}

.header_link {
  font-size: 16px;
  line-height: normal;
  color: #FFF;
  text-decoration: none;
}

.header_link:hover, .header_link:focus, .header_link:active {
  opacity: 40%;
}

.button_1 {
  width: 103px;
  height: 41px;
  padding: 5px 30px;
  background: #0D606F;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button_1:hover, .button_1:focus, .button_1:active{
  background: #0e3b43;
}

.button1_text {
  color: #FFF;
  font-family: 'Red Hat Text';
  font-size: 16px;
}

.header {
  background-image: url(img/montain.jpg) ;
  width: 1440px;
  height: 765px;
  margin-bottom: 80px;
}

/* header end /* 


/* preview */

.intro_title {
  width: 900px;
  font-family: Aleo;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 10px;
  line-height: normal;
}

.intro_sub {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 20px;
  font-style: italic;
}

.search-form_field {
  background: transparent;
  border: none;
  margin-left: 10px;
  font-family: Aleo;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  width: 560px;
  height: 22px;
  outline: 0;
}

.search-form_info {
  background-color: #FFFFFFB2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 95px;
  width: 892px;
  border: 0;
  border-radius: 20px;
}

.search-form_field::placeholder{
  color: #F2785C;
}

.search-form_submit{
  width: 228px;
  height: 59px;
  padding: 10px 32px;
  font-family:'Red Hat Text';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  background-color: #0D606F;
  border-radius: 10px;
  cursor: pointer;
  color: #FFF;
  border: none;
  box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search-form_submit:hover, .search-form_submit:focus, .search-form_submit:active{
  background: #0e3b43;
}

/*preview end*/


/* main start*/

/* steps */

.steps {

  margin-bottom: 97px;

}


.step-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
}

.steps_tittle{
  color: #F2785C;
  font-family:'Red Hat Text';
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.step-cards{
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding: 0 100px;
}

.step-cards:last-child {
  margin-left:
}

.step-card_tittle{
  color: #0D606F;
  font-family: Aleo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
}

.step-card_pic{
  margin-bottom: 30px;
  max-width: 100px;
}

/* steps */


/* destinations*/


.destination{
  margin: 0 auto;
}

.destination_tittle {
  color: #F2785C;
  font-family:'Red Hat Text';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.slide_name {
  color: #FFF;
  font-family:'Red Hat Text';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  bottom: 40px;
  left: 15px;
  margin: 0 auto;
}

.slide_wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.slides {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.pag_mark1 {
  width: 20px; 
  height: 20px;
  background: #F2785C80;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.pag_mark2 {
  width: 20px; 
  height: 20px;
  background: #F2785C;
  border-radius: 50%;
  cursor: pointer;
}

.pag_mark3 {
  width: 20px; 
  height: 20px;
  background: #F2785C80;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.arrow{
  margin-left: 10px;
}

.find_more  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 58px;
  background-color: #0D606F;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.find_more:hover, .find_more:focus, .find_more:active {
  background: #0e3b43;
}

.button_3{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.button_3-text {
  margin-right: 10px;
  color: #FFF;
  font-family:'Red Hat Text';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
}

/* destination */

/* stories */

.stories_tittle {
  text-align: center;
  color: #F2785C;
  font-family: 'Red Hat Text';
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
}

.end_bg {
  background: url(img/end_bg.jpg) no-repeat;
  height: 1270px;
}

.travel_content {
  display: flex;
}

.img_option {

}

.travel_img {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

/* main end*/



